.footer {
  background-color: var(--footer-backround-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {
      display: flex;
      justify-content: center;
      font-size: 24px;
      line-height: 1.16;
    }
  }
}
.studio {
  margin-bottom: 0;
}
.footer-adress-section {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.footer-contact-item {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

/*.........................социальные сети футер..............................*/
.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer-adress-section {
  display: block;
}
.footer-soc-section {
  display: block;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-soc-section-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  display: block;
  text-align: left;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.footer-soc-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  color: var(--text-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-transition);
  &:hover,
  &:focus {
    background-color: var(--hover-and-focus-color);
  }
}
.footer-soc-svg {
  fill: currentColor;
}
/*..............................footer form................................*/
.footer-form-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
}
.footer-subcribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}
.footer-form-wrap {
  display: flex;
  @media screen and (max-width: 1199px) {
    align-items: center;
    flex-direction: column;
  }
}
.footer-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-white);
  width: 290px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }
}
.footer-subcribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 28px;
  border: none;
  transition: background-color var(--main-transition);
  &:hover,
  &:focus {
    background-color: var(--second-btn-color);
  }
}
.footer-form-svg {
  fill: currentColor;
  display: block;
  margin-left: 10px;
}
