.button-list {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  &__item:not(:last-child) {
    margin-right: 8px;
  }
  &__btn {
    text-align: center;
    border-color: transparent;
    display: block;
    padding: 6px 22px;
    transition: color var(--main-transition), background-color var(--main-transition),
      box-shadow var(--main-transition);
    &--first,
    &:hover,
    &:focus {
      color: var(--text-white);
      border-color: transparent;
      background-color: var(--hover-and-focus-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

/* -------------Проекты------------- */
.project-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.project-list-item {
  background-color: var(--background-white);
  @media screen and (max-width: 767px) {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:first-child .card-text {
      padding-bottom: 56px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
.project-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}
.project-list-text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.card-text {
  padding: 24px 20px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

/* -------------описание проектов------------- */
.project-description {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--main-transition);
  .project-link:hover &,
  .project-link:focus & {
    transform: translateY(0);
  }
}
.project-overlay-text {
  position: absolute;
  top: 63px;
  left: 24px;
  overflow: auto;
  opacity: 0;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-white);
  transition: opacity var(--main-transition);
  .project-link:hover &,
  .project-link:focus & {
    opacity: 1;
  }
  @media screen and (max-width: 380px) {
    top: 30px;
    font-size: 14px;
  }
  @media screen and (min-width: 381px) and (max-width: 479px) {
    top: 20;
    left: 20;
    text-align: left;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    top: 77px;
    right: 24px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 49px;
  }
}
