.advantages {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: antiquewhite;
}
.advantages-list__number {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: palevioletred;
  margin-bottom: 13px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 48px;
  }
}
.advantages-list__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: black;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 14px;
  }
}
.advantages-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
