.working {
  padding-top: 0;
  &__title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
}

.working-list {
  display: flex;
  &__item {
    display: block;
    position: relative;
  }
  &__label {
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &__text {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-white);
    display: block;
    width: 100%;
  }
}
.working-list__item:not(:last-child) {
  margin-right: 30px;
}
