.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background-color: var(--background-white);
  border: none;
  cursor: pointer;
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
  &__icon {
    fill: currentColor;
  }
  &--open {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &--close {
    position: absolute;
    top: 10px;
    right: 16px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 99;
    background-color: var(--background-white);
    transform: translateX(0%);
    transition: var(--main-transition);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu.is-hidden {
  @media screen and (max-width: 767px) {
    transform: translateX(100%);
  }
}

/*......navigation.......*/
.mob-nav {
  display: flex;
}
.mob-list__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}

/*......contacts.......*/
.mob-connect {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.mob-contact-list {
  margin-top: 32px;
  &__tel {
    font-size: 34px;
    line-height: 1.17;
  }
  &__mail {
    font-size: 24px;
    line-height: 1.16;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

/*......social links.......*/
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--hover-and-focus-color);
  }
}
