.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  background-color: var(--background-white);
  border: none;
  cursor: pointer;
  transition: fill var(--main-transition);
  &:hover,
  &:focus {
    fill: var(--hover-and-focus-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-open-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
}
.mob-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 767px) {
    transition: transform var(--main-transition);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-white);
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    &__container {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

/*......navigation.......*/
.mob-nav {
  display: flex;
}
.mob-list__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.mob-list__item:not(:last-child) {
  margin-bottom: 32px;
}

/*......contacts.......*/
.mob-connect {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--main-transition);
  &:hover,
  &:focus {
    color: var(--hover-and-focus-color);
  }
}
.mob-contact-list {
  margin-top: 32px;
  &__tel {
    font-size: 34px;
    line-height: 1.17;
  }
  &__mail {
    font-size: 24px;
    line-height: 1.16;
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

/*......social links.......*/
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--hover-and-focus-color);
  }
}
