body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--background-white);
  font-size: 14px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
